<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test1_Test2_Test3">
		<classes>
			<class
				name="com.tecnotree.automatiom.File.Upload.Service.Test_001_BDC_PElab_3">
				<methods>
					<include name="JSON"></include>
					<include name="SQl"></include>
					<include name="TAR"></include>
				</methods>
			</class>
		</classes>
	</test>

	<!-- Test -->
</suite> <!--
Suite -->
